.login_main{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside_nav{
  height: 400px;
  border: 1px solid rgb(10, 10, 10);
  background-color: white;
  width: 30%;
  
}
.inside_nav h2{
    text-align: center;
    margin-top: 25px;
}
.inside_nav form{
    margin-top: 10px;
}
.inside_nav input{
    
    width: 80%;
    margin: 20px;
    height: 35px;
    border-radius: 5px;
    color: rgb(25, 26, 26);
    font-size: 1.1rem;
    padding-left: 12px;
}
.inside_nav input[type="submit"]{
    background-color: rgb(238, 182, 61);
}
.inside_nav div{
    width: 100%;
    text-align: center;

}
.update_signup p{
    padding-top: 12px;
}

.update_signup a:hover{
color: blue;
}